{% extends 'flashcards/base.html' %} 
{% block content %}

{% if user.is_authenticated %}
<div class="new_category_button">
  <p class="text">Add New Category</p>
  <a href="{% url 'categories_new' %}" class="btn btn-secondary">
    {% include './icons/box2-fill.svg' %}
  </a>
</div>
{% endif %}

<div class="categories_page">Please Pick a Category:</div>
{% for categories in categories %}
<ul>
  <a href="{% url 'categories_detail' pk=categories.pk %}">{{ categories.category }}</a>
</ul>

{% endfor %}

{{ flashcards }}
{{ flashcards.question }}
{{ flashcard.question }}
{{ flashcard }}
{{ Flashcard }}
{{ Flashcards }}
{% endblock %}