{% extends 'flashcards/base.html' %}
{% block content %}


<aside class="actions">
  {% if user.is_authenticated %}
  <form
  class="inline"
  action="{% url 'category_remove' pk=categories.pk %}"
  method="post"
  >
  {% csrf_token %}
  <a class="btn btn-secondary" href="{% url 'categories_edit' pk=categories.pk %}">
    {% include './icons/pencil-square.svg' %}
  </a>
  
  <input
  class="btn btn-danger"
  href="{% url 'category_remove' pk=categories.pk %}"
  type="submit"
  value="Delete"
  onclick="return confirm('Confirm, Delete.');"
  />
</form>
</aside>
{% endif %}


<div class="categories_detail"> Category:
  {{ categories.category }}
</div>

<div class="flashcard_list"> Flashcards:
  <ul>
      {{ flashcards }}
      {{ flashcards.answer }}
      <!-- {{ categories }} -->
      {{ flashcard }}
      {{ Flashcard }}
      {{ Flashcards }}
      <!-- {{ user }} -->
      {{ Flashcard }}
      {{ flashcard.question }}
      {{ Flashcard.question }}
      {{ answer }}
      {{ category }}
      <!-- {{ user }}
      {{ user }} -->
  </ul>

  ---------------

</div>


{% endblock %}