{% extends 'flashcards/base.html' %} {% block content %} {% for flashcards in flashcards %}
<article class="flashcard-holder">
  <h2>{{ flashcards.question }}</a></h2>
  <!-- <div class="flashcard_info"><p> {{ flashcards.answer }}</p></div> -->
  <div class="created">
  </div>
  
</article>
{% endfor %} {% endblock %}


{% if user.is_authenticated %}
<div class="new_button">
  <p class="text">Add New Flashcards</p>
  <a href="{% url 'flashcard_new' %}" class="btn btn-secondary">
    {% include './icons/box2-fill.svg' %}
  </a>
{% endif %}
</div>
